.nav-login {
    width:350%;
    padding:20px;
}

.red-text{
    color:red
}
nav .navbar-nav li > a {
    color:#FFF;
}

nav .navbar-nav li > a:hover, nav .navbar-nav li > a:focus {
    background-color: rgba(0, 140, 106, 0.99);
    color:#FFF;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color:#FFF;
    color:rgba(0, 140, 105, 1);
}

.input-group-addon{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    background: rgba(0, 140, 105, 1);
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0 ;
    box-shadow: 0 ;
    min-width:40px;
    text-align:center;
}

.input-group-addon .fa {
    color:#FFF;
}
.btn-primary {
    background: rgba(0, 140, 105, 1) ;
    border-radius: 0 !important;
}

input[type=text], input[type=password] {
    border-radius: 0 !important;
}

h1.header, h2.header, h3.header, h4.header, h5.header{
    font-family: 'Raleway', sans-serif;
    font-weight:100;
    color:rgb(0, 140, 105);
    border-bottom: 1px solid rgb(0, 140, 105);
}


h3.header{
    font-size: 24px;
}

.navbar-primary{
    background:rgb(0, 140, 105) ;
    border-radius: 0;
    padding:5px
}

.navbar-primary .navbar-nav > li a
{
    color:#FFF;
}


.media {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.media__image { display: block; }

.media__body {
    background: rgba(41, 128, 185, 0.7);
    bottom: 0;
    color: white;
    font-size: 1em;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 3.75em 3em;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.media__body:hover { opacity: 1; }

.media__body:after,
.media__body:before {
    border: 1px solid rgba(255, 255, 255, 0.7);
    bottom: 1em;
    content: '';
    left: 1em;
    opacity: 0;
    position: absolute;
    right: 1em;
    top: 1em;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: 0.6s 0.2s;
    transition: 0.6s 0.2s;
}

.media__body:before {
    border-bottom: none;
    border-top: none;
    left: 2em;
    right: 2em;
}

.media__body:after {
    border-left: none;
    border-right: none;
    bottom: 2em;
    top: 2em;
}

.media__body:hover:after,
.media__body:hover:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.media__body h2 { margin-top: 0; }

.media__body p { margin-bottom: 1.5em; }

.media:nth-child(2) .media__body { background: rgba(146, 41, 185, 0.7); }

.media:nth-child(3) .media__body { background: rgba(185, 41, 128, 0.7); }

.media:nth-child(4) .media__body { background: rgba(185, 50, 41, 0.7); }

.media:nth-child(5) .media__body { background: rgba(185, 146, 41, 0.7); }

.media:nth-child(6) .media__body { background: rgba(128, 185, 41, 0.7); }


.category{
    height: 250px;
    min-width: 100%;
    background: #EBEBEB;
    margin:10px 10px 0px;
    overflow:hidden;
}
.panel-info{
    min-width: 100%;
    background: #FFF;
    margin:0 10px;
    padding: 3px 10px;
}

.category-card{
    font-weight: 700;
}

.category-card  a {
    color:rgb(0, 140, 105);
}

.category-card a:hover {
    text-decoration: none;
}
/*.fa-facebook{*/
    /*color:#3b5998;*/
/*}*/

/*.fa-twitter{*/
    /*color: #55acee;*/
/*}*/

/*.fa-github{*/
    /*color: #333333;*/
/*}*/


/*.btn-facebook {*/
    /*background: #3b5998;*/
    /*color:#FFF;*/
/*}*/

/*.btn-facebook > .fa-facebook{*/
    /*color:#FFF;*/
/*}*/

/*.btn-twitter {*/
    /*background:#55acee;*/
/*}*/
/*.btn-twitter > .fa-twitter{*/
    /*background:#55acee;;*/
    /*color: #FFF;*/
/*}*/

/*.btn-github {*/
    /*background:#333333;*/
    /*color:#FFF;*/
/*}*/

/*.btn-github > .fa-github{*/
    /*background:#333333;*/
    /*color:#FFF;*/
/*}*/













/*.category-image{*/
    /*width: 150px;*/
    /*height: 216px;*/
    /*text-align: center;*/
    /*border-bottom: 1px solid #FFF;*/
    /*display: flex;*/
/*}*/

/*.category-info{*/
    /*height: 55px;*/
    /*width: 235px;*/
    /*padding:12px 30px 12px 10px;*/
/*}*/

/*.category-name{*/

    /*font-size:20px;*/
    /*color:#FFF;*/
/*}*/

/*.category-count{*/
    /*overflow: hidden;*/
    /*color:#FFF;*/
    /*margin-top:5px;*/
    /*font-family:Raleway, 'serif';*/
    /*font-weight: 700;*/
    /*font-size:12px;*/
/*}*/

/*.flex{*/
/*}*/


/*.reachJs {*/
    /*background: rgb(83, 213, 250);*/
/*}*/

/*.angularJS{*/
    /*background: rgb(183, 53, 50);*/
/*}*/

/*.php{*/
    /*background: rgb(0, 87, 161);*/
/*}*/

/*.python{*/
    /*background: rgb(255, 211, 0);*/
/*}*/

/*.ruby{*/
    /*background: rgb(237,105,85);*/
/*}*/
/*.node{*/
    /*background: rgb(132,180,62);*/
/*}*/
/*.java{*/
    /*background: rgb(233,113,0);*/
/*}*/

/*.html{*/
    /*background: rgb(209,75,32)*/
/*}*/


/*.item{*/
    /*overflow: hidden;*/
/*}*/



/*.videos-images{*/
    /*background: rgb(102,154,191);*/
    /*overflow: hidden;*/
/*}*/

/*.video-img-large{*/

/*}*/
/*.video-img-small{*/

/*}*/