html, body {
    height: 100%;
}
body {
    height: 100%;
}

.btn-primary {
    background: rgba(0, 140, 105, 1) ;
}

nav .navbar{
    background-color: rgba(0, 140, 105, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none ;
    box-shadow: none;
    transition: 0.3s;
    position: relative;
    margin-toptop:30px;
}

nav .navbar-nav li > a {
    color:#FFF;
}

nav .navbar-nav li > a:hover {
    background-color:rgba(0, 140, 105, .8);
    color:#FFF;
}

nav .navbar-nav a:focus,
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color:#FFF;
    color:rgba(0, 140, 105, 1);
}

.nav-login {
    width:350%;
    padding:20px;
}

.forgot-pass{
    color:rgba(0, 140, 105, 1);
}
h1.header, h2.header, h3.header, h4.header, h5.header{
    font-family: 'Raleway', sans-serif;
    font-weight:100;
    color:rgb(0, 140, 105);
    border-bottom: 1px solid rgb(0, 140, 105);
    text-align: center;
}


h3.header{
    font-size: 24px;
}

.tech-nav{
    height:0;
}

.tech-nav-scroll{
    background-color: rgba(0, 140, 105, 1);
    box-shadow:0px 0px 10px #444;
}

.tech-nav-container{
    font-family: 'Raleway', sans-serif;
    font-weight:100;
}

#hero {
    position: relative;
}

#hero h1, #hero h2, #hero h3, #hero h4{
    color:#FFF;
    border:none;
}

#hero h1{
    font-size: 50px;
}
#hero, #hero > * {
    width: 100%;
    height: 100%;
    min-height: 100%;
}
#hero .bg-img {
    position: absolute;
    background-image: url('../images/hero-bg.png');
    -webkit-background-size:cover;
    background-size:cover;
}
#hero .overlay {
    position: absolute;
    background-color: rgba(0, 140, 105, 0.7);
}
#hero .hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
#hero .hero-content h1 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight:100;
}

#hero .hero-content h4 {
    font-family: 'Raleway', sans-serif;
    font-weight:100;
    width:50%;
    text-align:center;
    font-size:20px;
}

.social-auth-icons ul li{
    display: inline-flex;
    list-style-type: none;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    margin:10px;
}

.social-auth-icons ul li:hover{
    background: none;
}
.social-auth-icons ul li > a{
    color:#EBEBEB;
    display: flex;
}
.fa-facebook{
    color:#3b5998;
}

.fa-twitter{
    color: #55acee;
}

.fa-github{
    color: #333333;
}

.social-auth-icons ul li > a:hover{
    color:#EBEBEB;
    background: none;
    text-decoration: none;
}











/*.category-image{*/
    /*width: 150px;*/
    /*height: 216px;*/
    /*text-align: center;*/
    /*border-bottom: 1px solid #FFF;*/
    /*display: flex;*/
/*}*/

/*.category-info{*/
    /*height: 55px;*/
    /*width: 235px;*/
    /*padding:12px 30px 12px 10px;*/
/*}*/

/*.category-name{*/
    /*font-family:Raleway;*/
    /*font-weight: 700;*/
    /*font-size:20px;*/
    /*color:#FFF;*/
/*}*/

/*.category-count{*/
    /*overflow: hidden;*/
    /*color:#FFF;*/
    /*margin-top:5px;*/
    /*font-family:Raleway, 'serif';*/
    /*font-weight: 700;*/
    /*font-size:12px;*/
/*}*/

/*.flex{*/
/*}*/


/*.reachJs {*/
    /*background: rgb(83, 213, 250);*/
/*}*/

/*.angularJS{*/
    /*background: rgb(183, 53, 50);*/
/*}*/

/*.php{*/
    /*background: rgb(0, 87, 161);*/
/*}*/

/*.python{*/
    /*background: rgb(255, 211, 0);*/
/*}*/

/*.ruby{*/
    /*background: rgb(237,105,85);*/
/*}*/
/*.node{*/
    /*background: rgb(132,180,62);*/
/*}*/
/*.java{*/
    /*background: rgb(233,113,0);*/
/*}*/

/*.html{*/
    /*background: rgb(209,75,32)*/
/*}*/


/*.item{*/
    /*overflow: hidden;*/
/*}*/



/*.videos-images{*/
    /*background: rgb(102,154,191);*/
    /*overflow: hidden;*/
/*}*/

/*.video-img-large{*/

/*}*/
/*.video-img-small{*/

}